

@font-face {
    font-family: 'kr_bite_meregular';
    src: font_url('kr_bite_me-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'comfortaabold';
    src: font_url('comfortaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'comfortaaregular';
    src: font_url('comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}