@import "bootstrap";
@import "font-awesome";

html { 
  overflow-y: scroll;
}

body {
  background: image_url('old_moon.png');
  font-family: 'comfortaabold', sans-serif;
}

.navbar {
  background: image_url('footer_lodyas.png');
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6);
  height: 50px;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'kr_bite_meregular', sans-serif;
  font-size: 50px;
}

.pagination {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.pagination a {
  text-decoration: none;
  padding: 8px 16px;
  color: black;
}

.pagination li.active a {
    background-color: #444;
    color: white;
    border-radius: 5px;
}

.pagination li:hover:not(.active) a {
    background-color: #bbb;
    border-radius: 5px;
}

.booyah-box {
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  color: black;
}

.booyah-box a {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.btn-primary {
  background: #E3E85A;
  border: 5px solid #444;
  color: black;
}

.btn-primary:hover {
  background: #E3E85A;
  filter: brightness(85%);
  border: 5px solid #444;
  color: black;  
  cursor: pointer;
}

.btn-danger {
  background: #f44242;
  border: 5px solid #444;
  color: black;
}

.btn-danger:hover {
  background: #f44242;
  filter: brightness(85%);
  border: 5px solid #444;
  color: black;  
  cursor: pointer;
}

input {
  margin-top: 10px;
  width: 300px;
}

.form-note {
  width: 300px;
  margin: 0 auto;
  text-align: right;
  font-size: 12px;
  color: #777;
}

.form-container a {
  color: #777;
}

.place-buttons {
  margin-top: 40px;
}

.delete-place-button {
  margin-left: 15px;
}

.error {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}
